{% extends 'index.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="container">
  <!-- Grid row -->
    <div class="row">

    <!-- Grid column -->
    <div class="col-md-6">

        <span style="padding-left: 100px">
            <img  src="{{ book.image.url }}" class="img-fluid z-depth-1 rounded " alt="{{ book.title }} image">
        </span>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6 mb-2">
        <!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h5 class="h5-responsive mb-1 blue-text text-center font-bold">{{ book.title }}</h5>

        <div class="row ml-5">
            <table class="table table-hover">
  <tbody>

   <tr>
       <td><h6 class="font-weight-bold">Author</h6></td>
       <td>{% for b_and_a in book.booklinkauthor_set.all %}
                    {{ b_and_a.author.name }}
           </td>
       {% endfor %}
   </tr>
   <tr>
       <td><h6 class="font-weight-bold">In Stock</h6></td>
       <td>{{ book.stock }}</td>
   </tr>
   <tr>
       <td><h6 class="font-weight-bold">Pages</h6></td>
       <td>{{ book.page }}</td>
   </tr>
   <tr>
       <td><h6 class="font-weight-bold">Year Published</h6></td>
       <td>{{ book.publish_date }}</td>
   </tr>
  <tr>
       <td><h6 class="font-weight-bold">Price</h6></td>
       <td>{{ book.price }}</td>
   </tr>
  </tbody>
</table>
        </div>
                 <hr class="hr-dark">
           <div class="row ml-4">
               <form class="form-inline" action="{% url "cart:cart_add" book.id %}" method="post">
                                {% csrf_token %}
                   {% include 'form_base.html' with form=cart_book_form %}
                                <input type="submit" value="Add to cart" class="btn btn-md btn-primary">
                            </form>

           </div>
       </div>
       </div>
    </div>
</div>

        <h4>Description</h4>
        <p>{{ book.description }}</p>
  </div>
    <!-- Grid column -->


{% endblock %}
