<!-- Card deck -->

<section class="text-center">

    <h2 class="mb-5 font-weight-bold">Exclusive This Months</h2>
    <div class="card-deck">
        {% for obj in exclusive_book %}
            <!-- Card -->
            <div class="col-sm-4 card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    {% if obj.image %}
                        <img style="height: 100%;" class="img-responsive card-img-top" src="{{ obj.image.url }}"
                             alt="{{ obj.title }} logo">
                    {% endif %}

                    <div class="mask rgba-white-slight"></div>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">{{ obj.book }}</h4>
                    <!--Text-->
                    <p class="card-text">{{ obj.description }}
                        <br>
                        <span>By
                            {% for item in obj.booklinkauthor_set.all %}
                                {% if forloop.last %}
                                    {{ item.author.name }}
                                {% else %}
                                    {{ item.author.name }},
                                {% endif %}
                            {% endfor %}</span>
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <a href="{{ obj.get_absolute_url }}">
                        <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                    </a>
                </div>

            </div>
            <!-- Card -->
        {% endfor %}
        <!-- Card -->

        <!-- Card -->

    </div>
</section>
<!-- Card deck -->