{% load static %}
<link href="{% static "css/home.css"%}" rel="stylesheet">
 <div id="intro" class="view">

            <div class="mask rgba-black-strong">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">A SOFA,<br>
                                A GOOD BOOK,<br>
                                AND YOU.
                            </h2>
                            <!-- Divider -->
                            <hr class="hr-light">
                            <!-- Description -->
                        </div>

                    </div>

                </div>

            </div>

        </div>
</header>